<div class="wrapper-card">
    <div class="card card-style-home">
        <div class="card-header">
            Welcome to our application
        </div>
        <div class="card-body">
            <h5 class="card-title">Trade goods</h5>
            <p class="card-text">Trade involves the transfer of goods or services from one person or entity to another, often in exchange for money. Economists refer to a system or network that allows trade as a market.</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/dashboard']">See more</a>
        </div>
    </div>

</div>