.wrapper-card {
    height: 100%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card-style-home {
    width: 350px;
    margin-bottom: 50px;
    margin-top: 10px;
}