/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
.alert-dark {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 15px;
}

.close {
    color: white;
     :hover {
        color: white;
    }
}

.nav-link {
    color: #fff;
}