<div class="modal-header">
    <h4 class="modal-title"> Send this product </h4>
</div>
<div class="modal-body">
    <form [formGroup]="sendForm" (ngSubmit)="onSubmit(sendForm.value)">
        <div class="form-group">
            <label for="destination">Destination:</label>
            <input type="text" formControlName="destination" class="form-control" id="destination" placeholder="Enter destination">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>